# .gitignore for Grails 1.2 and 1.3

# web application files
cumplesMeli/web-app/WEB-INF/classes

# default HSQL database files for production mode
cumplesMeli/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
cumplesMeli/stacktrace.log
cumplesMeli/test/reports
cumplesMeli/logs

# project release file
cumplesMeli/*.war

# plugin release files
cumplesMeli/*.zip
cumplesMeli/plugin.xml

# older plugin install locations
cumplesMeli/plugins
cumplesMeli/web-app/plugins

# "temporary" build files
cumplesMeli/target

cumplesMeli/web-app/WEB-INF/tld/c.tld
cumplesMeli/web-app/WEB-INF/tld/fmt.tld
